<link rel="stylesheet" href="/css/bootstrap.min.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Instituto_Federal_Marca_2015.svg/200px-Instituto_Federal_Marca_2015.svg.png"
          alt="" width="40" height="50" class="d-inline-block align-text-top"> Instituto Federal de Pernambuco</a>
          </div>
          <div>
          <a href="/" type="button" class="btn btn-secondary">Início</a>
        </div>
       
        <div>
          <a href="/alunos/logout" type="button" class="btn btn-danger">sair</a>
        </div>
   
</nav>
</body>